:root {
    /*
    --responsive--aligndefault-width: 100%;
    --global--line-height-page-title: 1.2;
    --heading--font-weight-page-title: 500;
    --heading--letter-spacing-h2: -0.02rem;
    --primary-nav--font-size: 1.5rem;
    --heading--font-size-h2: 1.31rem;
    --wp--typography--line-height: 1.4;
    --global--line-height-body: 1.5;
    */
}